nav {
    background: #2B2B2B;
    height: 100%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: white;
          padding: 12px;
          display: block;
          text-decoration: none;
          font-size: 18px;
          padding-top: 40px;
          text-align: center;
        }
      }
    }
  }