<div class="boss2">
  <header>
    <h1>Welcome to Routing</h1>
    <p>A cool place where you can find some fun games and activities</p>
  </header>
  <section class="one">
      <div class="container">
        <div class="boxes">
          <div class="box">
            <h3>Ships</h3>
            <p>Rent a ship and go with your family on a vacantion !
            </p>
            <a href="https://www.google.ro/search?rlz=1C1CHBF_enRO803RO803&ei=8HcKXPauI6281fAPk4OiyAE&q=clothes+information+in+english&oq=clothes+informa&gs_l=psy-ab.3.1.0l4j0i22i30l6.7037.9347..10741...0.0..0.260.1113.0j7j1......0....1..gws-wiz.......0i71j0i67j0i203j0i20i263j0i10.p7J2YU1L7BQ" class="btn">Learn More</a>
          </div>
          <div class="box">
              <h3>Cars</h3>
              <p>Rent a car and go crazy ! Go to some races and bet some money kiddo.
              </p>
              <a href="https://www.google.ro/search?rlz=1C1CHBF_enRO803RO803&ei=CngKXIa1B4OZsAfDurdY&q=shoes+information+in+english&oq=Shoes+inform&gs_l=psy-ab.3.1.0j0i20i263j0l2j0i22i30l2j0i22i10i30j0i22i30l3.56424.64651..65734...1.0..0.231.1677.0j11j1......0....1..gws-wiz.....6..0i71j35i39j0i67j0i203j0i10.VSSSDspsDC8" class="btn">Learn More</a>
          </div>
          <div class="box">
              <h3>Bikes</h3>
              <p>Rent a bike and go to a skatepark to do some tricks ! Mafe fun of all of there.
              </p>
              <a href="https://www.quora.com/Do-people-have-souls" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </section>
  </div>